@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  background: #04040a;
  color: #c8d8e8;
  font-family: monospace;
  overflow: hidden;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
